body {
  margin: 0;
  text-align: center;

}

.container {

  align-content: flex-end;
  height: 100vh;

    text-align:center;
}
.object{
    display: flex;
    align-items: center;
    align-content: center;
}

header{
    font-size:45px;
}
section,
aside,
footer {
  padding: 5px;
  font-size: 24px;
}

header {
  grid-area: header;
  background: papayawhip;
}

section {
  grid-area: main;
  background: peachpuff;
}

aside {
  grid-area: aside;
  background-color: lavender;
}

footer {
  grid-area: footer;
  background-color: lightsalmon;
}
